In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20181003152543-0000

,Country or Area Code,Country or Area,Year,Sex,Classification,Subclassification,Coverage,Scope,Source,SourceID,Value,Value Footnotes
0,AD,Andorra,2007,Total men and women,ISIC-Rev.3,Total.,Employees,Earnings per month,Administrative records and related sources,# 0,1810.7,NaN
1,AD,Andorra,2007,Men,ISIC-Rev.3,Total.,Employees,Earnings per month,Administrative records and related sources,# 0,2098.4,NaN
2,AD,Andorra,2007,Women,ISIC-Rev.3,Total.,Employees,Earnings per month,Administrative records and related sources,# 0,1480.9,NaN
3,AD,Andorra,2006,Total men and women,ISIC-Rev.3,Total.,Employees,Earnings per month,Administrative records and related sources,# 0,1726.5,NaN
4,AD,Andorra,2006,Men,ISIC-Rev.3,Total.,Employees,Earnings per month,Administrative records and related sources,# 0,1996.4,NaN